/* .custom-container {
  padding: 75px 30% 75px 30%;
}

.custom-form {
  border: solid 1px #06d106;
  padding: 75px;
}

.submit-center {
  display: flex;
  justify-content: center;
  margin: 0;
}

.submit-center .neon-border {
  position: relative;
  overflow: hidden;
  background: none;
  border: none;
  transition: 1s;
  -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0004);
  padding: 5% 5% 5% 5%;
}

.submit-center .neon-border:hover {
  background-color: #06d106;
  border: none;
  box-shadow: 0 0 10px #06d106, 0 0 30px #06d106, 0 0 60px #06d106, 0 0 100px #06d106;
}

.submit-center button:not(:disabled):not(:disabled):active {
  background-color: #06d106;
  border: none;
}

.neon-border::before {
  content: "";
  position: absolute;
  width: 150%;
  height: 50%;
  background: #06d106;
  top: 25%;
  right: -20%;
  animation: animate 4s linear infinite;
}

.neon-border::after {
  content: "";
  position: absolute;
  background-color: black;
  inset: 4px;
  transition: 0.5s;
}

.neon-border:hover::after {
  background-color: #06d106;
}

.neon-button-text {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
  opacity: 0.5;
  transition: 0.5s;
  letter-spacing: 4px;
}

.neon-border:hover .neon-button-text {
  opacity: 1;
}

.text-error {
  color: red;
}

.form-control:not(:disabled):not(:disabled):focus {
  border: solid 1px #06d106;
  box-shadow: 0 0 10px #06d106, 0 0 30px #06d106, 0 0 30px #06d106, 0 0 30px #06d106;

} */

/* @keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
} */
